@page "/"
@inject NavigationManager Navigation

<style>
    .hover-scale {
        transition: transform 0.3s ease;
    }

        .hover-scale:hover {
            transform: scale(1.02);
        }

    .d-flex h2 {
        margin-left: 1rem;
    }
</style>

<MudContainer Class="mt-5 px-8" MaxWidth="MaxWidth.False">
    <MudGrid>
        <MudItem xs="12" sm="6" md="4">
            <MudPaper Elevation="2" Class="pa-4 hover-scale mud-theme-primary" Style="height: 200px;" @onclick='() => NavigateTo("/scale-to-chords")'>
                <div class="d-flex justify-content-between">
                    <MudText Typo="Typo.h5">Scale To Chords</MudText>
                    <MudIcon Icon="@Icons.Material.Filled.MusicNote" Size="Size.Large" />
                </div>
                <MudText>Find chords that fit within a selected scale.</MudText>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudPaper Elevation="2" Class="pa-4 hover-scale mud-theme-secondary" Style="height: 200px;" @onclick='() => NavigateTo("/chord-finder")'>
                <div class="d-flex justify-content-between">
                    <MudText Typo="Typo.h5">Chord Finder</MudText>
                    <MudIcon Icon="@Icons.Material.Filled.Bolt" Size="Size.Large" />
                </div>
                <MudText>Discover chords based on selected notes.</MudText>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="12" md="4">
            <MudPaper Elevation="2" Class="pa-4 hover-scale mud-theme-tertiary" Style="height: 200px;" @onclick='() => NavigateTo("/chord-progressions")'>
                <div class="d-flex justify-content-between">
                    <MudText Typo="Typo.h5">Chord Progressions</MudText>
                    <MudIcon Icon="@Icons.Material.Filled.Piano" Size="Size.Large" />
                </div>
                <MudText>Explore common chord progressions.</MudText>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6">
            <MudGrid>
                <MudItem xs="12">
                    <MudPaper Elevation="2" Class="pa-4 hover-scale mud-theme-info" Style="height: 200px;" @onclick='() => NavigateTo("/music-theory")'>
                        <div class="d-flex justify-content-between">
                            <MudText Typo="Typo.h5">Music Theory</MudText>
                            <MudIcon Icon="@Icons.Material.Filled.Book" Size="Size.Large" />
                        </div>
                        <MudText>Learn the basics of music theory.</MudText>
                    </MudPaper>
                </MudItem>
                <MudItem xs="12">
                    <MudPaper Elevation="2" Class="pa-4 hover-scale mud-theme-success" Style="height: 200px;" @onclick='() => NavigateTo("/practice-tools")'>
                        <div class="d-flex justify-content-between">
                            <MudText Typo="Typo.h5">Practice Tools</MudText>
                            <MudIcon Icon="@Icons.Material.Filled.Build" Size="Size.Large" />
                        </div>
                        <MudText>Access tools to help you practice.</MudText>
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </MudItem>
        <MudItem xs="12" sm="6">
            <MudPaper Elevation="2" Class="pa-4 hover-scale mud-theme-warning" Style="height: 100%;" @onclick='() => NavigateTo("/instrument-tuner")'>
                <div class="d-flex justify-content-between">
                    <MudText Typo="Typo.h5">Instrument Tuner</MudText>
                    <MudIcon Icon="@Icons.Material.Filled.Tune" Size="Size.Large" />
                </div>
                <MudText>Tune your instrument with our tuner.</MudText>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudPaper Elevation="2" Class="pa-4 hover-scale mud-theme-error" Style="height: 200px;" @onclick='() => NavigateTo("/metronome")'>
                <div class="d-flex justify-content-between">
                    <MudText Typo="Typo.h5">Metronome</MudText>
                    <MudIcon Icon="@Icons.Material.Filled.Timer" Size="Size.Large" />
                </div>
                <MudText>Keep time with our metronome.</MudText>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudPaper Elevation="2" Class="pa-4 hover-scale mud-theme-dark" Style="height: 200px;" @onclick='() => NavigateTo("/ear-training")'>
                <div class="d-flex justify-content-between">
                    <MudText Typo="Typo.h5">Ear Training</MudText>
                    <MudIcon Icon="@Icons.Material.Filled.Hearing" Size="Size.Large" />
                </div>
                <MudText>Improve your ear with training exercises.</MudText>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="12" md="4">
            <MudPaper Elevation="2" Class="pa-4 hover-scale mud-theme-light" Style="height: 200px;" @onclick='() => NavigateTo("/contact-us")'>
                <div class="d-flex justify-content-between">
                    <MudText Typo="Typo.h5">Contact Us</MudText>
                    <MudIcon Icon="@Icons.Material.Filled.Email" Size="Size.Large" />
                </div>
                <MudText>Get in touch with us for more information.</MudText>
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer>

@code {
    private void NavigateTo(string url)
    {
        Navigation.NavigateTo(url);
    }
}



